#login_header {
    height: 50px;
    width: 50%;
    background-color: salmon;

}
    #login_header_left {
        height : inherit;
        background-color: khaki;
        width: 60%;
        float: left;
    }
        #id_field {
            width:100%;
            height: 50%;
            background-color: lavender;
        }

        #pw_field {
            width:100%;
            height: 50%;
            background-color: linen;
        }
    #login_header_right {
        height : inherit;
        background-color: lightblue;
        width: 40%;
        float: left;
    }
        #login_btn {
            width: 90%;
            height: 90%;
            margin-top: 3px;
            margin-bottom: 6px;
            margin-left: 5px;

        }

#login_footer {
    height: 100px;
    width: 100%;
    background-color :lightgrey;
    text-align : center;
    padding-top : 5px;
}